# User-specific files
*.suo
*.user
*.sln.docstates

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
bower_components/