label {
    font-weight: 200;
}
h1 {
    font-weight: 200;
}
h4 {
    font-weight: 200;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.done {
	label {
        color: #ccc;
        font-weight: 100;
	}
}
.error {
    color: red;
}
#add-task-wrapper {
    input[type=text] {
        font-weight: 200;
        margin-bottom: 5px;
        height: 50px;
    }
}
#panel-center {
    >ul {
        .item-row {
            padding: 10px 0 10px 5px;
            border-bottom: 1px solid #ddd;

            label {
                font-size: 21px;
                padding: 3px 3px 3px 5px;
                
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .btn-sm {
                margin-top: 8px;
            }
        }
    }
}
.details-panel {
    display: none;
    &.visible {
        display: block;
    }

    label {
        display: block;

    }

    .error-input-wrapper {
        input {
            border-color: red;
        }
    }
    .row {
        padding: 5px 0;
    }
}
.bootstrap-tagsinput {
    padding: 4px 6px 6px;
    margin-bottom: 0;
    width: 100%;
}

footer {
    margin-top: 100px;
}